
    <hegad>
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Word Repeater</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>What a glorious day!</h1>
            </div>
            <h2>Now you know how many times a word is in a sentence. Curing cancer be damned! You just found a new hobby.</h2>
            <h3>
                {% for  %}
                {% endfor %}
            </h3>
        </div>
    </body>
</html>
