<html>
    <head>
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Word Repeater</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1 style="text-align: center">What a glorious day!</h1>
            </div>
            <h3>Now you know how many times a word is in a sentence. Curing cancer be damned! You just found a <em>new</em> hobby!</h3><br>
            <h4>{{ show_word }} appears in the sentence {{ show_count }} times!</h4><br><br>

            <a href="/"><button type="button" class="btn btn-primary" name="home">Back To Home</button></a>

        </div>
    </body>
</html>
