<html>
    <head>
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Word Repeater</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Pete and Repeat's Repeat Reader</h1>
            </div>
            <h2>Find put how many times a word appears in a sentence!</h2><br>
            <h5>Type a sentence or phrase in the first box. Then type a word that appears in that sentence in the second box. Then click the button below to find out how many times the word appears in the sentence. Just think of the millions of everyday uses!</h5><br>
            <form action='/view_repeats'>
                <div class='form-group'>
                    <label for='string'>Type your sentence here:</label>
                    <input type='text' name='string'required placeholder='ex: How do you do, sir?'>
                </div>
                <div class='form-group'>
                    <label for='word'>Word:</label>
                    <input type='text' name='word' required placeholder="ex: do">
                </div>
                <button type='submit' name='' class='btn'>Word, homie!</button>
            </form>
        </div>
    </body>
</html>
